# X3 WebSync Git Ignore

# Local Config
config.json

# Epub Output
output/

# Local DB & Logs
sync_history.db
logs/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/

# PyInstaller
build/
dist/
*.spec.bak

# OS Files
.DS_Store
Thumbs.db
